{% extends "base_map.html" %}
{% load i18n %}
{% load url from future %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/questionnaire.css" />
{% endblock %}


{% block content %}

<ul class="breadcrumb">
    <li class="disk hover base_bgcolor" onclick="window.location = '{% url "dashboard" %}'">
        <a href="{% url 'dashboard' %}">
            <h3>
            {% trans 'Questionnaires' %}
            </h3>
        </a>
    </li>
    <li class="separator base_bgcolor"></li>
    <li class="active base_textcolor">
        <h3>
            {{ questionnaire.name }}
        </h3>
    </li>
</ul>
<script type="text/javascript" charset="utf-8">
var MapLayerList = new Array();	
</script>
<div id="forms">
    {% for form in form_list %}
        <h3 id="page_{{ forloop.counter }}" class="page_{{ forloop.counter }} {% if form.name in bigcontent_forms %}bigcontent{% else %}smallcontent{% endif %}">
            {{ forloop.counter }}/{{ form_list|length|add:1 }} {{ form.name }}
        </h3>
        <div data-page="{{ forloop.counter}}">
            <form name="{{ form.slug }}" method="post" action="#">
                {% for key, value in elements.items %}
                    {% if key == form.slug %}
                        {% for element in value %}
                        <div class="form_element" data-element-type="{{element.element_type}}">
                           
                           {% if element.element_type == 'map' %}
				                                             
                          		<script>
                           			var element = '{{ element.html|safe }}';
                           			element = element.replace("<label>","");
                           			element = element.replace("</label>","");
                           			element_l = element.split("?");
                           			var path = element_l[0];
                           			var color = element_l[1];
                           			var popup = element_l[2];
                           			var name_param = element_l[3];
	                           		MapLayerList.push({	'file_path': 'http://{{current_site}}/{{ settings.MEDIA_URL }}'+path, 
	                           											'color':color, 
	                           											'popup':popup, 
	                           											'form_name':'{{ forloop.parentloop.parentloop.counter }}', 
	                           											'form_length':'{{ form_list|length|add:1 }}',
	                           											'name_param': name_param
	                           										});
	                           	</script>
                           {% else %}
                           		{{ element.html|safe }}
                           {% endif %}
                           
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}


            <div class="form_element">
                <div class="prev_next_controls">
                {% if forloop.first %}
                    <a class="next base_bgcolor" href="#page_{{ forloop.counter|add:'1' }}">{% trans 'Next' %}&rarr;</a>
                {% else %}
                    <a class="previous" href="#page_{{ forloop.counter|add:'-1' }}">&larr;{% trans 'Previous' %}</a>
                    <a class="next base_bgcolor" href="#page_{{ forloop.counter|add:'1' }}">{% trans 'Next' %}&rarr;</a>
                {% endif %}
                </div>
            </div>

            </form>
        </div>
        {% if forloop.last %}

        <h3 id="page_{{ forloop.counter|add:1 }}" class="page_{{ forloop.counter|add:1 }} bigcontent">
            {% trans "Your answers and finish" %} {{ forloop.counter|add:1 }}/{{ form_list|length|add:1 }}
        </h3>
        <div>
            <div class="form_element">
                <span class="number_of_features">X</span>
                <span class="number_of_properties">X</span>
            </div>
            <div class="form_element">
                <p>
                {% trans "This is the end of the questionnaire and your answers has been saved. Thank you for your answers! You can still continue modifying your answers by clicking the previous buttons. Quit the questionnaire by clicking the 'quit and go to home page' button." %}
                </p>
            </div>
            <div class="form_element">
                <div class="prev_next_controls">
                    <a class="previous" href="#page_{{ forloop.counter }}">&larr;{% trans 'Previous' %}</a>
                    <a class="previous" href="{% url 'dashboard' %}">{% trans 'Quit and go to home page' %}</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<div id="popups">
    {% for form in popup_list %}
        <div id="{{ form.slug }}">

            <form name="{{ form.slug }}" method="post" action="#" class="popupform">
                {% for key, value in elements.items %}
                    {% if key == form.slug %}
                        {% for element in value %}
                            {% if not forloop.last %}
                            <div class="form_element">
                            {% else %}
                            <div class="form_element last">
                            {% endif %}
                            {{ element.html|safe }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div class="padding">&nbsp;</div>
            </form>
            <div class="popup_feature_buttons">
                <button type="button" class="remove">
                    {% trans 'Remove' %}
                </button>
                <button type="button" class="save">
                    {% trans 'Save' %}
                </button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block javascript %}
{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/feedback.js"></script>
{% endblock extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/proj4js-gnt.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/OpenLayers.js"></script>
<script type="text/javascript" src="{% url 'api_javascript' %}"></script>
<script type="text/javascript" src="{% url 'map_js' map_slug_name=map_slug %}"></script>
<script type="text/javascript" charset="utf-8">

var map_layer_group = [];
var map_controlls = [];
var map_controlls_high = [];
var feature_attr = [];
var data_group = 'Q-{{ questionnaire.slug }}';
var questionnaire_area = {{ questionnaire.area.json|safe }};
// add crs to area
questionnaire_area['crs'] = {"type": "name",
                             "properties": {
                                 "code": "EPSG:{{ questionnaire.area.srid|safe }}"}};
// instead of using global varibles start using this object

var questionnaire = {
    'data_group': 'Q-{{ questionnaire.slug }}',
    'questionnaire_area': {{ questionnaire.area.json|safe }},
    'show_area': {{ questionnaire.show_area|lower }},
    'scale_visible_area': {{ questionnaire.scale_visible_area }}
}
// add crs to area
questionnaire.questionnaire_area['crs'] = {"type": "name",
                                           "properties": {
                                                "code": "EPSG:{{ questionnaire.area.srid|safe }}"}};

function count_results() {
    var number_of_properties = 0;
    for(var val in gnt.questionnaire.npvalues) {
        number_of_properties++;
    }
    var number_of_places = map.getLayersByName('Point Layer')[0].features.length;
    var number_of_routes = map.getLayersByName('Route Layer')[0].features.length;
    var number_of_areas = map.getLayersByName('Area Layer')[0].features.length;
    var number_of_features = number_of_places + number_of_routes + number_of_areas;

    if( number_of_features === 0 ) {
        $('span.number_of_features').html("");
    } else if( number_of_features === 1) {
        $('span.number_of_features').html('{% trans "You marked one place" %}');
    } else {
        $('span.number_of_features').html('{% trans "You marked" %} ' + number_of_features + ' {% trans "places" %}');
    }
    if( number_of_properties === 0 ) {
        $('span.number_of_properties').html("");
    } else if( number_of_features !== 0) {
        if( number_of_properties === 1) {
            $('span.number_of_properties').html('{% trans "and answered one question" %}');
        } else {
            $('span.number_of_properties').html('{% trans "and answered" %} ' + number_of_properties + ' {% trans "questions" %}');
        }
    } else if ( number_of_properties === 1) {
        $('span.number_of_properties').html('{% trans "You answered one question" %}');
    } else {
        $('span.number_of_properties').html('{% trans "You answered" %} ' + number_of_properties + ' {% trans "questions" %}');
    }

    if ( number_of_properties === 0 && number_of_features !== 0 ) {
        $( 'span.number_of_features' ).append('.');
    } else if ( number_of_properties !== 0 ) {
        $( 'span.number_of_properties' ).append('.');
    }
}

{% block questionnaire_init %}

jQuery(document).ready(function() {
		$('*').css('font-family','{{ org_settings.font|safe }}');
		$('.ui-widget').css('font-size','{{ org_settings.font_size|safe }}');
    	$('input[type*="text"]').bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
			 if(code == 13) { 
			 	e.preventDefault();
			 }
	});
	
	gnt.questionnaire.init('#forms', '', '#forms', questionnaire_area, data_group, function() {

        //count the amount of answeres given
        count_results();

        $('#forms').bind('accordionchangestart', function(event, ui) {
            count_results();
        });

        /* begin WMS element handling */
        gnt.questionnaire.extra_layers = Array();
        $('#map').append(
                $('<div></div>')
                .attr('id', 'wms-layerswitcher-container')
                .append('<strong>{% trans "Choose Layers to show" %}</strong>')
                .append(
                    $('<ul></ul>')
                    .addClass('wms-layerswitcher')
                    )
                );
        var sld_getter = make_sld_getter();
        $('[data-element-type="wms-layer"]').each(function() {
            var name = $(this).children().first().attr('data-layer-name');
            var long_name = $(this).children().first().attr('data-layer-long-name');
            var url = $(this).children().first().attr('data-layer-url');
            var page = parseInt($(this).closest('[data-page]').attr('data-page'));
            var layer = new OpenLayers.Layer.WMS(
                "extra_layer", 
                url, 
                {
                    "layers": name,
                    "transparent": true,
                    "version": "1.1.1",
                    "SLD_BODY": sld_getter(name)
                });
                                                          
            gnt.questionnaire.extra_layers.push({
                page_number : page,
                long_name : long_name,
                layer : layer
                });
            map.addLayer(layer);
            
        /* end WMS element handling */
        });
        
        // Things to show on map
        
		if(typeof MapLayerList != 'undefined'){
			for( x in MapLayerList){
			        
			    var prot = new OpenLayers.Protocol.HTTP({
	                    url: MapLayerList[x]['file_path'],
	                    format: new OpenLayers.Format.GML()                    
	               });
	      		
	      		
	      		var polygonLayer = new OpenLayers.Layer.Vector("GML", {
	                protocol: prot,
	                eventListeners: {           
        				'loadend': function (evt) {
	        					if( x == 0){
	        						map.zoomToExtent(polygonLayer.getDataExtent());
	        					}
        					}
        				},
	                styleMap: new OpenLayers.StyleMap({
				        "default": new OpenLayers.Style({
				            strokeColor: MapLayerList[x]['color'],
				            strokeOpacity: .7,
				            strokeWidth: 1,
				            fillColor: MapLayerList[x]['color'],
				            fillOpacity: .5,
				            cursor: "pointer"
				        }),
				        "temporary": new OpenLayers.Style({
				            strokeColor: MapLayerList[x]['color'],
				            strokeOpacity: 1,
				            strokeWidth: 2,
				            fillColor: MapLayerList[x]['color'],
				            fillOpacity: .9,
				            cursor: "pointer",
				            label: "${"+MapLayerList[x]['name_param']+"}"
				        }),
				        "select": new OpenLayers.Style({
				            strokeColor: MapLayerList[x]['color'],
				            strokeOpacity: .9,
				            strokeWidth: 2,
				            fillColor: MapLayerList[x]['color'],
				            fillOpacity: .9,
				            graphicZIndex: 2,
				            cursor: "pointer"
				        })
				    }),
	                strategies: [new OpenLayers.Strategy.Fixed()]
	            });
	            
	            // new parameter holds form name for viewing on specific page
	      		polygonLayer.form_name = MapLayerList[x]['form_name']
	      		
	      		map.addLayer(polygonLayer);
	      		map_layer_group.push(polygonLayer);
	      		
                //select feature control
		        var select_feature_control_new = new OpenLayers.Control.SelectFeature(
		                [polygonLayer],
		                {
		                id: 'selectfeature',
		                onSelect: function(evt){
		                		
		                		var popup_name = MapLayerList[x]['popup'];
		                		//var name = MapLayerList[x]['file_path'];
							    var popupcontent = " default info content ";
							
							    //get the right content for the popup
							    if( popup_name !== undefined ) {
							    	
							    	$('#' + popup_name).find('.remove').hide();
							        var content = 	$('#' + popup_name).html();
							        //var save = 		$('#' + popup_name).find('.popup_feature_buttons').html();
							        popupcontent = content;//+save;
							    }
		                		
							    evt.lonlat = new OpenLayers.LonLat(
									               			evt.geometry.bounds.left,
									                        evt.geometry.bounds.bottom);
								evt.popupClass = OpenLayers.Popup.FramedCloud;
							    evt.data = {
							        'contentHTML': popupcontent
							    };
							    
							    //the createPopup function did not seem to work so here
							    evt.popup = new OpenLayers.Popup.FramedCloud(
							                        evt.id,
							                        evt.lonlat,
							                        new OpenLayers.Size(100,100),
							                        evt.data.contentHTML,
							                        null,
							                        false,
							                        undefined);
							        
							    gnt.questionnaire.show_popup_for_feature(evt, popup_name, 'noButtons');
							    evt.layer.redraw();
					    
		                },
		                onUnselect: gnt.questionnaire.on_feature_unselect_handler,
		                toggle: false,
		                multiple: false,
		                hover: false
		                });
		        
		        var highlightCtrl = new OpenLayers.Control.SelectFeature(polygonLayer, {
		        	id: 'selectfeature',
	                hover: true,
	                clickout: true,
	                highlightOnly: true,
	                renderIntent: "temporary",
	            });

		        map_controlls.push(select_feature_control_new);
				map_controlls_high.push(highlightCtrl);
		        
		        if( x == 0){
	      			if(map_layer_group[x].form_name == '1') polygonLayer.setVisibility(true);
	      			else polygonLayer.setVisibility(false);
	      			map.addControl(highlightCtrl);
	      			highlightCtrl.activate();      
	      			map.addControl(select_feature_control_new);
		        	select_feature_control_new.activate();
	      		} else {
	      			polygonLayer.setVisibility(false);
	      			map.addControl(highlightCtrl);
	      			highlightCtrl.deactivate();      
	      			map.addControl(select_feature_control_new);
		        	select_feature_control_new.deactivate();
	      		}
		           
	      	}
		}	
	
        makeWMSLayerSwitcher(1); 
    });
    
    $('.previous').on('click',function(e,data){
    	var active = $('#forms').accordion('option','active');
    	var temp  = active-1; 
   		for( x in map_layer_group){
   			console.log('MAP_LAYER_GROUP');
			console.log(map_layer_group[x].form_name+" -  " + temp);
			if( map_layer_group[x].form_name == temp ) {
				map_layer_group[x].setVisibility(true);
				map_controlls_high[x].activate();
				map_controlls[x].activate();
				map.zoomToExtent(map_layer_group[x].getDataExtent());
			} else {
				map_layer_group[x].setVisibility(false);
				map_controlls[x].deactivate();
				map_controlls_high[x].deactivate();
			}
		}
    	});
    
    $('.next').on('click',function(e,data){
        var active = $('#forms').accordion('option','active');
    	var temp  = active+1; 
		console.log(map_layer_group);
		for( x in map_layer_group){
			console.log('MAP_LAYER_GROUP');
    		console.log(map_layer_group[x].form_name+' -  ' + temp);
    		if( map_layer_group[x].form_name == temp ) {
    			map_layer_group[x].setVisibility(true);
				map_controlls_high[x].activate();
				map_controlls[x].activate();
				console.log('x:'+x+' vs: '+temp);
				console.log(map_layer_group[x]);
				map.zoomToExtent(map_layer_group[x].getDataExtent());
			} else {
				map_layer_group[x].setVisibility(false);
				map_controlls[x].deactivate();
				map_controlls_high[x].deactivate();
                console.log('selectcontrol.deactivate()');
			}
		}
    });
});

{% endblock questionnaire_init %}
function accordionPageChangeHandler(event) {
    makeWMSLayerSwitcher(event.page);
}
function makeLayerToggler(layer) {
    var myLayer = layer;
    function myFunc(e) {
        myLayer.setVisibility(e.target.checked);
    }
    return myFunc;
}
function makeWMSLayerSwitcher(page_number) {
    $('#wms-layerswitcher-container ul').html('');
    var page_has_wms_layers = false;
    for (var i=0; i < gnt.questionnaire.extra_layers.length; i++) {
        var layer = gnt.questionnaire.extra_layers[i];
        if (page_number !== layer.page_number) {
           layer.layer.setVisibility(false);
        }
        else {
            layer.layer.setVisibility(true);
            page_has_wms_layers = true;
            
            $('#wms-layerswitcher-container ul').append(
                    $('<li></li>')
                    .append($('<input type="checkbox">')
                        .attr('checked', true)
                        .change(makeLayerToggler(layer.layer)))
                    .append(layer.long_name)
                );
        }
    }
    if (page_has_wms_layers) {
        $('#wms-layerswitcher-container').show();
    } else {
        $('#wms-layerswitcher-container').hide();
    }
}


</script>
{% endblock javascript %}

